/* Fonts */
@font-face {
  font-family: InterFont;
  src: url(Fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: OpenFont;
  src: url(Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: PoppinFont;
  src: url(Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: QuickSand;
  src: url(Fonts/Quicksand-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family:InterFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: InterFont;
}
html{
  font-family: InterFont;
}

:root{
  /* fontsize  */
  --medium-font : 20px ;
  --small-font : 18px ;
  --extra-small-font : 16px

  /* color     */
  --blue : #00296B ;
  --black : #000000;
  --white : #fff ;

  /* Border Radius */
  --half-border : 50px ;
}

/* Navbar */
.navbar-1 {
  width: 100%;
}
.navbar-1 .nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navbar-1 .nav-top .nav-left a{
  font-family: InterFont;
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.navbar-1 .nav-top .nav-right {
  display: flex;
  gap: 20px;
}
.navbar-1 .nav-top .nav-right .btn1 {
  font-weight: 500;
  font-size: var(--medium-font);
  color: var(--black);  
  background-color: transparent;
  border: none;
}
.navbar-1 .nav-top .nav-right .btn2 {
    font-size: var(--medium-font);
  color: var(--white);  
  background-color: var(--blue);
  border: 1px solid var(--blue);
  padding: 10px;
  width: 200px;
  border-radius:  var(--half-border);
}





.nav-bot-lst {
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
}

.signup-btn {
  width: 122px;
  height: 42px;
  background: #00296b;
  border-radius: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 00;
  font-size: 14px;
  line-height: 9px;
  color: #ffffff;
}

.nav-bot-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 19px;
  color: #333131;
  cursor: pointer;
}

.nav-bot-cont {
  display: flex;
}

.nav-bot-left {
  width: 20%;
}

.nav-bot-right {
  width: 80%;
}

.check-btn-1 {
  margin-left: 20px;
  color: #000000;
}

.main-cont {
  display: flex;
}
.left-cont {
  width: 50%;
}

.right-cont {
  width: 50%;
}








.button:hover {
  background-color: #ffd500;
}

.button:active {
  background-color: #ffd500;
}











.lab{
  padding-left:10px;
}

.small-txt {
  color: white;
}
.small-txt-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #ffd500;
}

.small-txt-2 spam {
  text-decoration: underline;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}



.form-group label {
  margin-bottom: 0.5rem;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.label-inp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #333131;
}
/* .popupe {
  margin: 2%;
} */

.form-groupe input {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
}

.btn-form-submit {
  background-color: #00296b;
  border-radius: 4px;
  align-items: center;
  width: 178px;
  height: 42px;
  margin-left: 36%;
  color: white;
}


























.exch-right-cont-l {
  width: 50%;
}











.body-mid-cont {
  margin-top: 3%;
  width: 100%;
}

.body-mid-cont-img {
  width: 100%;
}

.exch-below-cont {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 20px;
}

.exch-below-cont h3 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  padding: 0 2%;
}
.faltu img {
  height: 20px;
}
.faltu {
  display: flex;
  gap: 20px;
}
.exch-below-cont-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.exch-below-cont-1-left {
  width: 50%;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 10px;
}
.exch-below-cont-1-left h4 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #333333;
  margin: 0;
}

.exch-below-cont-1-right {
  width: 50%;
}
.exch-below-cont-1-right p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  margin: 0;
}

.exch-box {
  border: 1px solid #aaaaaa;
  margin-top: 10px;
}
.exch-box-cont {
  display: flex;
}
.exch-box-cont div {
  width: 33.33%;
  padding: 10px;
}
.ii {
  background-color: #103d6d;
  color: white;
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}
.ia {
  background-color: #05528a;
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}
.exch-below-cont-2 {
  display: flex;
  justify-content: space-between;
}
.exch-below-cont-2-left {
  width: 49%;
}
.exch-below-cont-2-right {
  width: 49%;
}

.exch-below-cont .Center{
font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
width: 100%;
margin-top: 10px;
color: #337AB7;

}

.exch-below-cont-2 table {
  border: 1px solid #dddddd;
  width: 100%;
}
.exch-below-cont-2  table tr th{
  background: #F3F3F3;
border-width: 0px 1px 2px 1px;
border-style: solid;
border-color: #DDDDDD;
padding: 10px;
font-family: Quicksand;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
color: #333333;
}

.exch-below-cont-2  table tbody tr td{
  font-family: Quicksand;
  border: 1px solid #DDDDDD; 
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 4px;
  color: #333333;
  text-align: left;
}

.exch-below-cont-2  table tbody tr .Colred{
  color: #337AB7;
  font-weight: 700;
}


.ExchangeTable {
  width: 80%;
  display: block;
  margin: auto;
  padding: 10px;
  margin-top: 20px;

}
.ExchangeTable table{
  width: 100%;
}

.ExchangeTable p{
  font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-align: center;
color: #333333;
background: #E2F0FF;
border-radius: 20px 20px 0px 0px;
padding: 10px;
}

.ExchangeTable  table thead tr th{
  width: 30%;
background: #1881AF;
border: 1px solid #E2F0FF;
font-family: Quicksand;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
color: #fff;
padding: 10px;
}
.ExchangeTable  table tbody tr{
  width: 30%;
  text-align: left;
 
}
.ExchangeTable  table tbody tr td {
  border: 1px solid #DDDDDD;
  font-family: Quicksand;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
padding: 10px;
color: #333333;

}

.exch-below-cont-4 {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.exch-below-cont-4 h3 {
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}
.exch-below-cont-4-cont {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.exch-below-cont-4-l {
  width: 50%;
  height: 100%;
  border-radius: 12px;
}

.exch-below-cont-4-r {
  width: 50%;
  height: 100%;
  border-radius: 12px;
}
.exch-below-cont-4-l p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  color: #5c5c5c;
}
.exch-below-cont-4-l a {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #337ab7;
}
.exch-below-cont-4-r p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  color: #5c5c5c;
}
.exch-below-cont-4-r a {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #337ab7;
}
.exch-below-cont-5 {
  margin: 5% 15%;
  height: 100%;
  background: #e3f2ff;
}
.extra-comp {
  padding: 2% 2%;
}
.exch-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}
.exch-grid-item {
  height: 50px;
  background: #ffffff;
}
.exch-grid-item a {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  margin-left: 20%;
  color: #0170c1;
}







h2 {
  margin-top: 0;
}



.form-2-fld {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
  margin: 2%;
}

label {
  color: #333;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 20px;
  width: 33%;
}


.form-2-cont h2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  margin-left: 10%;
  color: #000000;
}

.form-2-btn {
  width: 176px;
  height: 50px;
  background: #ffd500;
  border-radius: 30.2748px;
  align-items: center;
  margin: 5% 40%;
  border: none;
}

.form-grp-2 {
  margin-left: 3%;
}

.form-group-e {
  display: flex;
  align-items: center;
  margin: 2%;
}

.label-e {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.radio-buttons {
  display: flex;
  align-items: center;
  margin-left: 3%;
}

input[type="radio"] {
  display: flex;
}

label[for="yes"],
label[for="no"] {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: #ccc;
}


.form-grp-2-below-cont {
  display: flex;
  flex-wrap: wrap;
}





.foot-cont {
  margin: 4% 8%;
}
.foot-cont h4 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.foot-cont h5 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.lab {
  color: #fff;
}

.op1-top-txt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

/* FOOTER CSS*/







.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li a {
  color: #fff;
}

/* main-page bottom-part*/
.main-2-cont {
  display: flex;
  justify-content: space-between;
  margin: 0% 4%;
}
.main-2-left {
  width: 60%;
}
.main-2-left img {
  width: 80%;
  height: 540px;
  padding: 4%;
}
.main-2-right {
  width: 40%;
}

.main-2-right h2 {
  padding-top: 30%;
  padding-left: 15%;
  text-align: center;
}
.main-2-right p {
  padding: 5% 10% 0% 0%;
  text-align: center;
}
.sp {
  color: #00296b;
}
.main-2-r-btn {
  display: flex;
  justify-content: space-between;
  padding: 15% 1% 15% 0%;
}
.main-2l-btn {
  width: 45%;
  border-radius: 48px;
  height: 40px;
  background-color: #00296b;
  color: #fff;
}
.main-2r-btn {
  width: 45%;
  border-radius: 48px;
  height: 40px;
  background-color: #fff;
  color: #00296b;
}
.main-3-cont {
  display: flex;
  justify-content: space-between;
  margin: 0% 4%;
  padding: 0;
}
.main-3-left {
  width: 50%;
}
.main-3-right img {
  width: 80%;
  height: 540px;
  padding: 4%;
}
.main-3-right {
  width: 50%;
}
.main-3-left h2 {
  padding-top: 30%;
  padding-left: 15%;
  text-align: center;
}
.main-3-left p {
  padding: 5% 10% 0% 0%;
  text-align: center;
}
.faas-cont-1 {
  display: flex;
  justify-content: space-between;
  margin: 3% 15%;
}
.faas-cont-1-l {
  width: 49%;
}
.faas-cont-1-l h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #05528a;
}
.faas-cont-1-l p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #5c5c5c;
}
.faas-cont-1-l img {
  width: 98%;
  height: auto;
}
.faas-cont-1-r {
  width: 49%;
}
.faas-cont-1-r-form {
  padding: 2%;
  background: #ffffff;
  box-shadow: 0px 2px 15px #c4c4c4;
  border-radius: 4px;
}
.faas-cont-1-r-form h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #05528a;
}
.faas-form {
  padding: 1% 3%;
}
.faas-form input {
  height: 35px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #00296b;
  border-radius: 4px;
  margin-bottom: 20px;
}
.faas-form button {
  width: 100%;
  height: 35px;
  background: #ffd500;
  border-radius: 4px;
  border: none;
}
.faas-top-cont {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(45deg, #f0f7ff 0%, #ffffff 100%);
}
.faas-cont-2 {
  margin: 1% 15%;
}
.faas-cont-2 h3 {
  padding: 1% 10%;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  background: linear-gradient(
    269.26deg,
    #0099ff 0.55%,
    rgba(255, 0, 0, 0.28) 97.08%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.faas-cont-2 img {
  margin-left: 40%;
}
.faas-cont-2-ch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
}
.faas-cont-2-ch-l {
  width: 45%;
}
.faas-cont-2-ch-r {
  width: 45%;
}
.faas-cont-2-ch-l h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  background: linear-gradient(
    269.26deg,
    #0099ff 0.55%,
    rgba(255, 0, 0, 0.28) 97.08%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.faas-cont-2-sub {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.faas-cont-2-sub-l {
  width: 50%;
}
.faas-cont-2-sub-l p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #5c5c5c;
}
.faas-cont-2-sub-r {
  width: 50%;
}
.faas-cont-2-sub-r img {
  width: 100%;
}
.faas-cont-2-sub-r img {
  padding-top: 1%;
}
.faas-cont-3 {
  display: flex;
  justify-content: space-between;
  margin: 2% 15%;
}
.faas-cont-3-l {
  width: 50%;
}
.faas-cont-3-r {
  width: 50%;
}
.faas-cont-3-l h3 {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #05528a;
}
.faas-cont-3-lst {
  list-style: none;
}
.faas-cont-3-lst li::before {
  content: "";
  background-image: url("./Images/li_before.png");
  background-size: contain; /* adjust image size to fit the space */
  display: inline-block; /* display as inline-block to align with text */
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.faas-cont-3-lst li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #5c5c5c;
}
.faas-cont-3-r h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #05528a;
}
.ques-ans {
  padding: 2%;
}
.ques-ans h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #05528a;
}
.ques-ans p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #5c5c5c;
}
.faas-cont-4 {
  margin: 0;
  background-image: url("./Images/a-25.png");
  background-size: contain;
  background-position: center;
  height: 400px;
  width: 100%;
}
.faas-cont-4 button {
  margin-left: 40%;
  margin-top: 5%;
  width: 185px;
  height: 45px;
  left: calc(50% - 285px / 2 + 0.5px);
  top: 639px;

  background: #ffd500;
  border-radius: 4px;
}
.faas-cont-4-sub1 {
  margin-top: 8%;
}
.faas-cont-4-sub1 h4 {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
.faas-cont-4-sub1-img {
  display: flex;
  justify-content: center;
  margin: 1% 4%;
}
.faas-cont-4-sub1-img img {
  width: 160px;
}
.faas-cont-4-sub2 {
  margin-top: 0;
  background-color: #00296b;
}
.faas-cont-4-sub2 h4 {
  margin-top: 6%;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
.faas-cont-4-sub2 img {
  width: 100%;
  padding: 2% 1%;
}





.col1-add {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #ffd500;
}







.col1-alt img {
  width: 26px;
  height: 28px;
}



.offer-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.offer-cont {
  margin: 2% 20%;
}
.offer-col1 h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #214360;
}
.offer-col1-cont {
  border: 1px solid #267aa4;
  position: relative;
  margin-top: 30px;
}

.offer-col1-sub1 {
  padding: 3%;
}
.offer-col1-sub1 ul {
  list-style: none;
}
.offer-col1-sub1 h6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #267aa4;
  margin-top: 30px;
}
.offer-col1-sub1 li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;

  /* or 160% */
  display: flex;
  align-items: center;

  color: #267aa4;
}
.offer-col1-sub2 {
  position: absolute;
  width: 180px;
  top: -20px;
  left: 30%;
  position: absolute;
  background: #1785aa;
  border-radius: 2px;
}
.offer-col1-sub2 p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-top: 6%;
}

.col1-offer p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #214360;
}
.offer-col1-left {
  margin-left: 20px;
  text-align: center;
}
.offer-row1 {
  margin-bottom: 4%;
}
.offer-hr-img {
  margin-left: 15%;
}
.form-cont h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  color: #ffd500;
  padding-top: 20px;
}
.sp-row-1 {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.sp-row-1 input {
  width: 90%;
  height: 35px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.ip-1 {
  width: 90%;
}
.check-btn-11 {
  display: none;
}

.main4-mid-cont {
  margin: 5% 10%;
}
.div-box {
  width: 80px;
  height: 80px;
  background: #d9d9d9;
  border-radius: 100%;
  margin: 0 50%;
}
.div-box p {
  padding-top: 30%;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  color: #000000;
}
.main4-mid-cont p {
  text-align: center;
  padding-left: 10%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  color: #474040;
}
.main4-mid-cont img {
  margin-left: 48%;
  padding-top: 0;
  margin-top: 0;
}
.ip-2 {
  width: 95%;
  height: 40px;
  margin-bottom: 10px;
}
.col-1 input {
  width: 100%;
  height: 40px;
}

.carousel1 {
  background-image: url("./Images/a-46.png");
  background-size: cover;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
}
.carousel2 {
  background-image: url("./Images/a-47.png");
  background-size: cover;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
}
.carousel3 {
  background-image: url("./Images/a-48.png");
  background-size: cover;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
}

.main6-form-cont1 {
  margin: 1%;
}
.row2 {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.row2 input {
  width: 90%;
}
.row2 label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.col2 button {
  width: 100.98px;
  height: 55px;
  background: #2679a4;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
}
.col2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.row3 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.col2 input {
  margin-right: 20px;
}
.main2-mid-form2 {
  position: relative;
}


.bot-part-3 {
  background-color: #fff;
  margin-top: 1%;
  height: 100%;
  width: 100%;
}
.bot-part-3 img {
  width: 100%;
}

/* student loan css*/
.sl-cont-1 {
  display: flex;
  justify-content: space-around;
  /* width: 40%; */
  width: 60%;
}
.sl-cont-1-sub {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 5%;
}
.sl-cont-1-sub h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #060388;
}
.sl-cont-1-sub p{
  margin-top:5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(6, 3, 136, 0.5);
}
.sl-hr-line{
  width:100%;
}
.sl-cont-2{
  display:flex;
  justify-content: space-between;
}
.sl-cont-2-l{
  width:30%;
}
.sl-cont-2-r{
  width:70%;
}
.sl-left-cont{
  padding:2% 4%;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.sl-left-cont h3{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;

  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #0E33A3 0%, #2679A4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.sl-left-cont p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: rgba(6, 3, 136, 0.5);
  margin-top:20px;
}
.sl-right-pad{
  padding-top:3%;
}
.sl-right-cont{
  display:flex;
}
.sl-right-cont img{
  width:25px;
  height:25px;
}
.sl-right-cont p{
  padding-left:10px;
}

.main-mid-2-cont{
  margin-left:40%;
  margin-top:2%;
}
@media (max-width: 600px) {
  .main-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .left-cont {
    width: 100%;
    margin: 20px;
    margin-bottom: 30%;
    height: 100%;
  }

  .right-cont {
    width: 100%;
  }

  .ord-btn {
    left: 22.5%;
  }

  .left-cont {
    width: 100%;
    height: 100%;
  }

  .row-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
  }
  .col-1,
  .col-2 {
    width: 100%;
  }
  .col-1 input {
    width: 90%;
  }
  .col-2 input {
    width: 90%;
  }
  .col-2 {
    margin: 1%;
  }

  .button-container {
    gap: 3px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-left: 1%;
  }

  .button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ffd500;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    height: 36px;
  }
  .right-cont {
    width: 90%;
  }
  .exch-cont {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .exch-left-cont {
    width: 100%;
    margin: 0;
  }
  .exch-right-cont {
    width: 100%;
    margin: 0;
  }
  .exch-below-cont-1 {
    display: flex;
    flex-direction: column;
  }
  .exch-below-cont-1-left {
    width: 100%;
  }
  .exch-below-cont-1-right {
    width: 100%;
    margin-top: 10px;
  }
  .form-item {
    background-color: #fff;
    width: 100%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
  }
  .form-3-cont-below {
    margin: 0;
  }
  .portn1-r-bot {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .exch-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }
  .exch-below-cont-6-1 img {
    margin-left: 34%;
    padding-top: 0;
  }
  .exch-below-cont-2 {
    display: flex;
    flex-direction: column;
  }
  .exch-below-cont-2-left {
    width: 100%;
  }
  .exch-below-cont-2-right {
    width: 100%;
    margin-top: 10px;
  }
  .btn-form-submit {
    width: 128px;
    margin-left: 30%;
  }
  .form-group {
    margin-bottom: 20px;
    width: 45%;
  }
  .form-2-btn {
    margin: 5% 25%;
  }
  .row1 {
    display: flex;
    flex-direction: column;
  }
  .col1 {
    width: 100%;
  }
  .col1 input {
    width: 90%;
  }
  .offer-hr-img {
    margin-left: 5%;
  }
  .offer-col1-sub2 {
    left: 20%;
  }
  .offer-col1-left {
    margin-left: 0px;
    text-align: center;
  }
  .ip-1 {
    width: 90%;
  }
  .ip {
    width: 90%;
  }
  .offer-img {
    width: 100%;
  }
  .nav-bottom {
    display: none;
  }
  .check-btn-11 {
    display: block;
  }
  .nav-bot-lst-sm {
    display: flex;
    flex-direction: column;
  }
  .dropdown {
    margin-bottom: 10%;
    margin-left: 4%;
  }
  .nav-bot-item {
    margin-bottom: 10%;
    margin-left: 4%;
  }
  .main2-cont-2 {
    display: flex;
    margin: 10%;
    flex-direction: column;
  }
  .bot-part-1 {
    margin-bottom: 100%;
  }
  .main2-cont-2-1 img {
    margin-top: 20px;
  }
  .bot-cont-imgs {
    padding: 8% 10%;
    display: flex;
    flex-direction: column;
  }
  .bot-cont-imgs img {
    margin-left: 20%;
  }
  .bot-part-2-sub {
    margin: 1% 10%;
    display: flex;
    flex-direction: column;
  }
  .bot-part-2 {
    margin-bottom: 40%;
  }
  .bot-cont-card {
    width: 90%;
    margin-bottom: 10%;
  }
  .main4-cont {
    display: flex;
    flex-direction: column;
    margin: 4%;
  }
  .main4-cont-item {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .main4-mid-cont img {
    margin-left: 28%;
    padding-top: 0;
    margin-top: 0;
  }
  .btn-fst {
    margin-right: 10px;
    width: 124px;
    height: 40px;
    background: linear-gradient(89.88deg, #f2a102 0.1%, #ecb549 98.87%);
    border-radius: 30px;
    border: none;
  }
  .btn-2nd {
    width: 124px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 30px;
  }
  .main2-cont {
    margin: 4% 5%;
  }
  .main2-top-btns {
    position: absolute;
    top: -20px;
    left: 12%;
  }
  .form-part-2 {
    padding-top: 20%;
  }
  .top-main2-btn button {
    height: 60px;
  }
  .main2-bot-cont {
    left: 28%;
  }
  .main2-bot-cont button {
    width: 150px;
  }
  .carousel1 {
    background-size: cover;
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
  }
  .carousel2 {
    background-size: cover;
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
  }
  .carousel3 {
    background-size: cover;
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
  }
  .main6-form-cont {
    padding: 1% 1%;
    width: 90%;
    height: 533px;
    top: 4%;
    left: 5%;
  }
  .main2-bot-cont2 {
    position: absolute;
    bottom: -25px;
    left: 20%;
  }
  .main-2-r-btn {
    display: flex;
    flex-direction: column;
    padding: 15% 1% 15% 0%;
  }
  .main-2l-btn {
    width: 85%;
    margin-bottom: 10px;
  }
  .main-2r-btn {
    width: 85%;
  }
  .button-container {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-left: 5%;
  }
  /* student loan */
  .sl-cont-2{
    display:flex;
    flex-direction:column;
    margin:2% 4%;
  }
  .sl-cont-2-l{
    width:100%;
  }
  .sl-cont-2-r{
    width:100%;
  }
  .sl-cont-1 img{
    width:70%;
    height:70%;
    padding-left:20px;
  }
  .sl-cont-1{
    display:flex;
    flex-direction:column;
    margin-left:30%;
  }
  .main-mid-2-cont{
    margin-left:40%;
    margin-top:2%;
  }
  .main-mid-2-cont img{
    width:40%;
  }
}

.fab {
  margin-right: 10%;
}
.gl {
  color: #df0a0a;
}
.fc {
  color: #39579a;
}
