/* Upper Form Component */
.Index-Upper-Form{
    width: 100%;
    padding-top: 20px;
}
.Index-Upper-Form .button-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}
