/**
 * Upper Form Component
 *
 * @format
 */

.Index-Upper-Form {
  width: 100%;
  padding-top: 20px;
}
.Index-Upper-Form .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.Index-Upper-Form .button-container button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ffd500;
  font-size: var(--small-font);
  cursor: pointer;
  padding: 10px;
  width: 20%;
  font-family: OpenFont;
  border-radius: 4px;
  transition: 0.5s;
}
.Index-Upper-Form .button-container button:hover {
  background: #ffd500;
}
.Index-Upper-Form .form-cont {
  width: 100%;
  margin-top: 10px;
  background: #00296b;
  border: 1px solid #333131;
  box-shadow: 0px 0px 100px 8px rgba(255, 213, 0, 0.3);
  border-radius: 12px;
  position: relative;
  padding: 20px;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont div {
  width: 45%;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont div label {
  color: var(--white);
  font-size: var(--extra-small-font);
  font-family: PoppinFont;
  line-height: 24px;
  color: #ffffff;
}

.Index-Upper-Form .form-cont .form-part-1 .two-cont div select {
  width: 100%;
  margin-top: 3px;
  outline: none;
  font-size: var(--extra-small-font);
  color: #897f7f;
  font-family: PoppinFont;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #897f7f;
}
.Index-Upper-Form .form-cont .form-part-1 .rate {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 10px;
  font-family: PoppinFont;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont div input{
    width: 100%;
    margin-top: 3px;
    outline: none;
    font-size: var(--extra-small-font);
    color: #897f7f;
    font-family: PoppinFont;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #897f7f;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont div input::placeholder{
    color: #897f7f;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont .two-section{
    display: flex;
    gap: 10px;
    color: var(--white);
    margin-top: 10px;
    align-items: center;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont .two-section p{
    margin: 0;
    font-family: PoppinFont;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont .two-section button{
    background-color: #214360;
    outline: none;
    border: 1px solid #214360;
    color: var(--white);
    font-family: PoppinFont;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont .two-section i{
color: #FFD500;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont .two-section .add{
color: #FFD500;
text-decoration: underline;
}
.Index-Upper-Form .form-cont .ord-btn {
    font-size: var(--medium-font);
    font-family: PoppinFont;
    background: #ffd500;
    border-radius: 30.2748px;
    border: none;
    width: 40%;
    padding: 10px;
    display: block;
    margin: auto;
    position: absolute;
    bottom: -0px;
  }