/* Upper Form Component */
.Index-Upper-Form{
    width: 100%;
    padding-top: 20px;
}
.Index-Upper-Form .button-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}
.Index-Upper-Form .button-container button{
    background-color: #fff;
    color: #333;
    border: 1px solid #ffd500;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    height: 36px;
}