/**
 * Upper Form Component
 *
 * @format
 */

.Index-Upper-Form {
  width: 100%;
  padding-top: 20px;
}
.Index-Upper-Form .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.Index-Upper-Form .button-container button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ffd500;
  font-size: var(--small-font);
  cursor: pointer;
  padding: 10px;
  width: 20%;
  font-family: OpenFont;
  border-radius: 4px;
  transition: 0.5s;
}
.Index-Upper-Form .button-container button:hover {
  background: #ffd500;
}
.Index-Upper-Form .form-cont {
  width: 100%;
  margin-top: 10px;
  background: #00296b;
  border: 1px solid #333131;
  box-shadow: 0px 0px 100px 8px rgba(255, 213, 0, 0.3);
  border-radius: 12px;
  position: relative;
  padding: 20px;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont div {
  width: 45%;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont div label {
  color: var(--white);
  font-size: var(--extra-small-font);
  font-family: PoppinFont;
  line-height: 24px;
  color: #ffffff;
}

.Index-Upper-Form .form-cont .form-part-1 .two-cont div select {
  width: 100%;
  margin-top: 3px;
  outline: none;
  font-size: var(--extra-small-font);
  color: #897f7f;
  font-family: PoppinFont;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #897f7f;
}
.Index-Upper-Form .form-cont .form-part-1 .rate {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 10px;
  font-family: PoppinFont;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont div input {
  width: 100%;
  margin-top: 3px;
  outline: none;
  font-size: var(--extra-small-font);
  color: #897f7f;
  font-family: PoppinFont;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #897f7f;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont div input::placeholder {
  color: #897f7f;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont .two-section {
  display: flex;
  gap: 10px;
  color: var(--white);
  margin-top: 10px;
  align-items: center;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont .two-section p {
  margin: 0;
  font-family: PoppinFont;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont .two-section button {
  background-color: #214360;
  outline: none;
  border: 1px solid #214360;
  color: var(--white);
  font-family: PoppinFont;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont .two-section i {
  color: #ffd500;
}
.Index-Upper-Form .form-cont .form-part-1 .two-cont .two-section .add {
  color: #ffd500;
  text-decoration: underline;
}
.Index-Upper-Form .form-cont .ord-btn {
  font-size: var(--medium-font);
  font-family: PoppinFont;
  background: #ffd500;
  border-radius: 30.2748px;
  border: none;
  width: 40%;
  padding: 10px;
  display: block;
  margin: auto;
  position: absolute;
  top: 98%;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Slick Slider */
.slick-slider-Cont {
  position: relative;
}
.slick-slider-Cont .Prev-Next_cont {
  display: flex;
  justify-content: space-between;
}
.slick-slider-Cont .Prev-Next_cont .PrevImg {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.slick-slider-Cont .Prev-Next_cont .NextImg {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.Slick-Slider {
  height: 100%;
  padding: 20px;
}
.Slick-Slider .slider-container-div {
  width: 100%;
}
.Slick-Slider .slider-container-div p {
  font-family: PoppinFont;
  font-size: 24px;
  line-height: 40px;
  color: #000;
  text-align: center;
  margin: 0;
}
.Slick-Slider .slider-container-div img {
  display: block;
  margin: auto;
}
.Slick-Slider:focus {
  border: none !important;
}
.Slick-Slider:active {
  border: none !important;
}

.Slick-Slider .slider-container-div .two-comp {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.Slick-Slider .slider-container-div .two-comp .left-comp {
  width: 45%;
  position: relative;
}
.Slick-Slider .slider-container-div .two-comp .left-comp img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Slick-Slider .slider-container-div .two-comp .right-comp {
  width: 60%;
}
.Slick-Slider .slider-container-div .two-comp .right-comp div {
  display: flex;
  padding-top: 20px;
  gap: 20px;
  align-items: center;
}
.Slick-Slider .slider-container-div .two-comp .right-comp p {
  margin: 0;
  font-size: var(--extra-small-font);
  line-height: normal;
  width: 90%;
  text-align: left;
}
.Slick-Slider .slider-container-div .two-comp .right-comp i {
  margin: 0;
  background-color: #00a067;
  color: #fff;
  border-radius: 100%;
  padding: 5px;
}

/* Currency-Slider  */
.currency_slider_cont {
  background-color: #00296b;
  border: 1px solid #00296b;
  border-radius: 10px;
  position: relative;
  width: 100%;
}
.currency_slider_cont .currency_slider {
  height: 100%;
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
.currency_slider_cont .currency_slider:focus {
  border: none !important;
}
.currency_slider_cont .currency_slider:active {
  border: none !important;
}

.currency_slider_cont .currency_slider .Item {
  color: #fff;
  border-right: 1px solid #fff;
  padding: 20px;
  width: 20%;
}
.currency_slider_cont .currency_slider .Item p {
  margin: 0;
}
.currency_slider_cont .currency_slider .Item .head {
  font-family: PoppinFont;
  font-size: var(--medium-font);
}
.currency_slider_cont .currency_slider .Item .two_sec {
  display: flex;
  align-items: center;
  gap: 20px;
}
.currency_slider_cont .currency_slider .Item .two_sec p {
  font-family: PoppinFont;
  font-size: var(--extra-small-font);
}
.currency_slider_cont .Prev-Next_cont {
  display: flex;
  justify-content: space-between;
}
.currency_slider_cont .Prev-Next_cont .PrevImg {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.currency_slider_cont .Prev-Next_cont .NextImg {
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.slick-prev:before {
  display: none !important;
}
.slick-next:before {
  display: none;
}

/* Index Page Fade Animation  */
.Index_First_Motion_Fade .Main_Container {
  display: flex;
  align-items: center;
  padding: 0;
  max-height: 560px;
  height: 550px;
  justify-content: space-between;
}
.Index_First_Motion_Fade .Main_Container .left_cont {
  width: 50%;
  height: 100%;
}
.Index_First_Motion_Fade .Main_Container .right_cont {
  width: 50%;
  height: 100%;
  padding-top: 5%;
  padding-left: 5%;
}

.Index_First_Motion_Fade .Main_Container .left_cont img {
  width: 100%;
  display: block;
  margin: auto;
  height: 100%;
}

.Index_First_Motion_Fade .Main_Container .right_cont h6 {
  font-family: QuickSand;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  color: #363636;
}
.Index_First_Motion_Fade .Main_Container .right_cont p {
  font-family: QuickSand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.Index_First_Motion_Fade .Main_Container .right_cont div {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}
.Index_First_Motion_Fade .Main_Container .right_cont div button {
  width: 40%;
  font-family: InterFont;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.Index_First_Motion_Fade .Main_Container .right_cont div .btn_1 {
  background: #00296b;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #00296b;
}
.Index_First_Motion_Fade .Main_Container .right_cont div .btn_2 {
  background: transparent;
  border-radius: 50px;
  color: #00296b;
  border: 1px solid #00296b;
}

/* Index Page Fade Animation 2 */
.Index_Second_Motion_Fade .Main_Container {
  display: flex;
  align-items: center;
  padding: 0;
  max-height: 560px;
  height: 550px;
  justify-content: space-between;
  padding-left: 5%;
}
.Index_Second_Motion_Fade .Main_Container .left_cont {
  width: 50%;
  height: 100%;
}
.Index_Second_Motion_Fade .Main_Container .right_cont {
  width: 50%;
  padding-top: 5%;
  height: 100%;
}

.Index_Second_Motion_Fade .Main_Container .left_cont img {
  width: 100%;
  display: block;
  margin: auto;
  height: 100%;
}

.Index_Second_Motion_Fade .Main_Container .right_cont h6 {
  font-family: QuickSand;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  color: #363636;
}
.Index_Second_Motion_Fade .Main_Container .right_cont p {
  font-family: QuickSand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.Index_Second_Motion_Fade .Main_Container .right_cont div {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}
.Index_Second_Motion_Fade .Main_Container .right_cont div button {
  width: 40%;
  font-family: InterFont;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.Index_Second_Motion_Fade .Main_Container .right_cont div .btn_1 {
  background: #00296b;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #00296b;
}
.Index_Second_Motion_Fade .Main_Container .right_cont div .btn_2 {
  background: transparent;
  border-radius: 50px;
  color: #00296b;
  border: 1px solid #00296b;
}

/* Index Page ( Three -section ) */

.bot-part-1 {
  background-image: url("../Images/Vector.png");
  background-repeat: no-repeat;
  padding: 8% 10%;
  background-size: cover;
  height: 380px;
  margin-bottom: 20px;
}
.bot-cont-imgs {
  display: flex;
  justify-content: space-between;
}
.bot-cont-imgs img {
  width: 150px;
  height: 150px;
}
.bot-cont-imgs h6 {
  font-family: QuickSand;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #00296b;
}
.bot-cont-imgs p {
  font-family: QuickSand;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #00296b;
}

.bot-part-2 {
  margin: 0;
  background: #f4f4f4;
  height: 600px;
  width: 100%;
}
.bot-part-2 h3 {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 25px;
  text-align: center;
  color: #214360;
  padding: 7%;
}
.bot-part-2-sub {
  margin: 1% 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20%;
}
.bot-cont-card {
  width: 49%;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.bot-cont-card h4 {
  font-family: QuickSand;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  text-align: center;
  margin: 1%;
}
.bot-cont-card p {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #777777;
  margin-top: 4%;
}
.thin-line {
  height: 5px;
  width: 100%;
  background-color: #f4f4f4;
}
.bot-cont-card-2 {
  display: flex;
  justify-content: space-between;
}
.bot-cont-card-2 img {
  width: 160px;
}

/* Index_testimonial_Slider */
.Index_testimonial_Slider {
  max-width: 1200px;
  margin: auto;
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
}
.Index_testimonial_Slider .head {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-shadow: 0px 4px 4px #ffd500;
}

.Index_testimonial_Slider .Slider_Cont {
  padding: 20px;
}
.Index_testimonial_Slider .Slider_Cont .normal_div {
  height: 300px;
}
.Index_testimonial_Slider .Slider_Cont .normal_div img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.Index_testimonial_Slider .Slider_Cont .active_slide img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: block;
  margin: auto;
}

.Index_testimonial_Slider .content_div {
  display: block;
  margin: auto;
  padding: 20px;
  background-image: url(../Images/19.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding-top: 100px;
}
.Index_testimonial_Slider .content_div p {
  font-family: PoppinFont;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}
.Index_testimonial_Slider .Slider_Cont div .stars {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}
.Index_testimonial_Slider .Slider_Cont div .stars i {
  color: #ffd500;
}
.Index_testimonial_Slider .Prev_Next_cont {
  display: flex;
  justify-content: space-between;
}

.Index_testimonial_Slider .Prev_Next_cont .PrevImg {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.Index_testimonial_Slider .Prev_Next_cont .NextImg {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.Index_testimonial_Slider .first_Circle {
  position: absolute;
  top: 10%;
  left: 5%;
  transform: translate(-50%, -50%);
}
.Index_testimonial_Slider .second_Circle {
  position: absolute;
  top: 40%;
  left: 95%;
  transform: translate(-50%, -50%);
}
.Index_testimonial_Slider .third_circle {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.Index_testimonial_Slider .fourth_circle {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

/* --------------- */
.News_Slider {
  width: 100%;
  padding: 20px;
  position: relative;
}
.News_Slider .Container_Div {
  padding: 20px;
}
.News_Slider .Container_Div .subItem {
  max-width: 552px;
  height: 315px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: #ffffff;
  padding: 20px;
  display: block;
  margin: auto;
}
.News_Slider .Container_Div .head {
  font-family: QuickSand;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.News_Slider .Container_Div .desc {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #777777;
}
.News_Slider .Container_Div .two_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.News_Slider .Container_Div .two_cont div {
  display: flex;
  gap: 10px;
}
.News_Slider .Container_Div .two_cont div i {
  color: #ffd500;
}
.News_Slider .Prev_Next_cont .PrevImg {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.News_Slider .Prev_Next_cont .NextImg {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* Login Modal */
.Login_Modal .head {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #333131;
}
.Login_Modal .sub_head {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #333131;
}
.Login_Modal form {
  padding: 20px;
}
.Login_Modal form .Form_Group p {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333131;
  margin: 0;
  margin-bottom: 5px;
}
.Login_Modal form .Form_Group input {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-family: PoppinFont;
  outline: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.Login_Modal form .submit_btn {
  padding: 10px;
  width: 278px;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  background: #00296b;
  border-radius: 4px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.Login_Modal form .form-bot-cont {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.Login_Modal form .form-bot-cont .left-btn {
  width: 45%;
}
.Login_Modal form .form-bot-cont .right-btn {
  width: 45%;
}
.Login_Modal form .form-bot-cont button {
  width: 100%;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  padding: 10px;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #333131;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.Login_Modal form .form-bot-cont button .fa-facebook-f {
  color: #39579a;
  margin: 0;
}
.Login_Modal form .form-bot-cont button .fa-google-plus-g {
  color: #df0a0a;
  margin: 0;
}
.Login_Modal .bottom_p {
  text-align: center;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333131;
  cursor: pointer;
}

/* Contact Us Page */
.Contact_Us_Section {
  padding-top: 20px;
}
.Contact_Us_Section .Head {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 49px;
  text-decoration-line: underline;
  color: #00296b;
  text-align: center;
}
.Contact_Us_Section .sub_Heading {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 49px;
  color: #337ab7;
}

.Contact_Us_Section .Two_Container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}
.Contact_Us_Section .Two_Container .left_Container {
  width: 40%;
}
.Contact_Us_Section .Two_Container .left_Container img {
  width: 50%;
  display: block;
  margin: auto;
}

.Contact_Us_Section .Two_Container .right_container {
  width: 40%;
}
.Contact_Us_Section .Two_Container .right_container .head {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #093562;
  font-family: PoppinFont;
}

.Contact_Us_Section .Two_Container .right_container .two_container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.Contact_Us_Section .Two_Container .right_container .two_container div {
  width: 48%;
}
.Contact_Us_Section .Two_Container .right_container .two_container div input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  font-family: PoppinFont;
  outline: none;
}
.Contact_Us_Section .Two_Container .right_container .two_container div select {
  width: 100%;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  font-family: PoppinFont;
  outline: none;
}
.Contact_Us_Section .Two_Container .right_container .two_container div p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #919191;
  font-family: PoppinFont;
  margin: 0;
  margin-bottom: 8px;
}
.Contact_Us_Section .Two_Container .right_container button {
  width: 40%;
  padding: 10px;
  background: #ffd500;
  border: 1px solid #ffd500;
  font-family: PoppinFont;
  border-radius: 4px;
}

.Contact_Us_Section .Two_Container .right_container .Info_Container {
  width: 100%;
  margin-top: 5%;
  background-color: #fafafa;
  padding: 20px;
  padding-bottom: 20px;
}
.Contact_Us_Section .Two_Container .right_container .Info_Container .head {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #267aa4;
}

.Contact_Us_Section .Two_Container .right_container .Info_Container .two_cont {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
}
.Contact_Us_Section
  .Two_Container
  .right_container
  .Info_Container
  .two_cont
  i {
  margin: 0;
  color: #267aa4;
}

.Contact_Us_Section
  .Two_Container
  .right_container
  .Info_Container
  .two_cont
  p {
  margin: 0;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
}

/* Currency Changer */

.currency_Container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  padding-top: 3%;
}

.currency_Container .Form_Container {
  width: 100%;
  background: #00296b;
  border-radius: 12px;
  position: relative;
}

.currency_Container .Form_Container .two_btns {
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.currency_Container .Form_Container .two_btns .btn-fst {
  width: 40%;
  background: linear-gradient(89.88deg, #f2a102 0.1%, #ecb549 98.87%);
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-family: PoppinFont;
  padding: 15px;
  color: #fff;
}
.currency_Container .Form_Container .two_btns .btn-2nd {
  width: 40%;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 16px;
  font-family: PoppinFont;
  color: #000;
  padding: 15px;
}

.currency_Container .form-part-2 {
  padding: 5%;
}

.currency_Container .form-part-2 .row1 {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}
.currency_Container .form-part-2 .row1 .col1 {
  width: 47%;
  margin-right: 1%;
}
.currency_Container .form-part-2 .row1 .col1 input {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family: PoppinFont;
  color: #000;
  padding-left: 20px;
}

.currency_Container .form-part-2 .row1 .col1 label {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.currency_Container .form-part-2 .row1 .ip {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family: PoppinFont;
  color: #000;
}
.currency_Container .form-part-2 .row1 .col1 .col1-item {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.currency_Container .form-part-2 .row1 .col1 .col1-item div p {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #ffffff;
  margin: 0;
}
.currency_Container .form-part-2 .row1 .col1 .div-a {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #ffffff;
}

.currency_Container .form-part-2 .row1 .col1-alt {
  display: flex;
  gap: 10px;
}
.currency_Container .form-part-2 .row1 .col1-indiv {
  width: 43.28px;
  height: 20px;
  background: #214360;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
}
.currency_Container .form-part-2 .row1 .col1-alt p {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  color: #ffffff;
}

.currency_Container .form-part-2 .row1 .col1-alt-2 {
  display: flex;
  flex-direction: column;
}
.currency_Container .form-part-2 .row1 .col1-alt-2 h6 {
  margin-left: 20px;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #ffffff;
}

.currency_Container .form-part-2 .row1 .img-r-cont {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
}
.currency_Container .form-part-2 .row1 .img-r-cont p {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #ffd500;
  margin: 0;
}
.currency_Container .form-part-2 .row1 .img-r-cont img {
  width: 26px;
  height: 28px;
}

.currency_Container .Form_Container .main2-bot-cont {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.currency_Container .Form_Container .main2-bot-cont button {
  width: 278px;
  height: 40px;
  background: #ffd500;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  border: none;
  font-family: PoppinFont;
  cursor: pointer;
}

.convertor_three_component {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.convertor_three_component div {
  width: 15%;
  padding-top: 20px;
}
.convertor_three_component div img {
  display: block;
  margin: auto;
}
.convertor_three_component div button {
  width: 100%;
  display: block;
  padding: 10px;
  margin: auto;
  background: #00296b;
  border-radius: 6.73103px;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 21.8759px;
  line-height: 22px;
  text-align: center;
  color: #ffd500;
  margin-top: 20px;
}

/* Educational Loans Page */

.loan_three_comp {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.loan_three_comp .item {
  width: 25%;
  padding-bottom: 20px;
  background: #00296b;
  padding-top: 20px;
}
.loan_three_comp .item img {
  display: block;
  margin: auto;
}
.loan_three_comp .item h3 {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  padding: 70px 0;
  padding-bottom: 0;
}
.loan_three_comp .item .empty {
  height: 1px;
  width: 80%;
  background-color: #fff;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.loan_three_comp .item p {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.main4-cont-item-btn {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
.main4-cont-item-btn button {
  width: 45%;
  background: #ffd500;
  border-radius: 5px;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ffd500;
}

/* Transaction */
.transaction_steps {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.transaction_steps .empty-succes {
  width: 14%;
  height: 2px;
  background-color: #005418;
  border-radius: 2px;
}
.transaction_steps .empty {
  width: 14%;
  height: 2px;
  background-color: #bdbbbb;
  border-radius: 2px;
}
.transaction_steps p {
  cursor: pointer;
}
.transaction_steps .active-step {
  background-color: #002299;
  color: #fff;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 5px;
  margin: 0;
}
.transaction_steps .step {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.5);
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 5px;
  margin: 0;
}

.transaction_step_content {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding-top: 5px;
}
.transaction_step_content p {
  font-family: QuickSand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.transaction_step_content .done {
  color: #005418;
}
.transaction_step_content .active {
  color: #002299;
}

.transaction_details {
  background-color: #f4f4f4;
  margin-top: 50px;
  padding: 20px;
}
.transaction_details .head {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}
.transaction_details .sub_head {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: #002299;
  margin: 0;
  margin-bottom: 20px;
}

.transaction_details .four_sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.transaction_details .two_sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.transaction_details .two_sec div {
  width: 48%;
}
.transaction_details .two_sec textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-family: Quicksand;
  outline: none;
}
.transaction_details .two_sec div p {
  margin: 0;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.transaction_details .four_sec p {
  margin: 0;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.transaction_details .four_sec p .fa-exclamation {
  background-color: #002299;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  padding-top: 2px;
  margin-bottom: 2px;
}
.transaction_details .four_sec .first {
  width: 25%;
}
.transaction_details .four_sec .first input {
  width: 100%;
  padding: 10px;
  font-family: Quicksand;
  outline: none;
}
.transaction_details .four_sec .special input {
  padding-left: 50px;
}
.transaction_details .four_sec .first select {
  width: 100%;
  padding: 10px;
  font-family: Quicksand;
  outline: none;
}

.transaction_details .four_sec .second {
  width: 20%;
}
.transaction_details .four_sec .second input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background-color: transparent;
  font-family: Quicksand;
  padding: 10px;
}
.transaction_details .four_sec .third {
  width: 10%;
}
.transaction_details .four_sec .third input {
  width: 70%;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background-color: transparent;
  font-family: Quicksand;
  padding: 10px;
}

.transaction_details button {
  font-family: Quicksand;
  font-size: 20px;
  color: #ffffff;
  background-color: #060388;
  border-radius: 50px;
  cursor: pointer;
  padding: 2px 10px 2px 10px;
  margin: 20px 0px 0px 20px;
}

.transaction_center_btn {
  width: 246.86px;
  height: 60.55px;
  background-color: #ffd500;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 500;
  font-size: 22.3568px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  border: 1px solid #ffd500;
  border-radius: 50px;
  display: block;
  margin: 50px auto 20px auto;
}

.transaction_details .Radio_Div {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 0;
}
.transaction_details .Radio_Div p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.transaction_details .Radio_Div div {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.transaction_details .Input_Text {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}
.transaction_details .Input_Text .main {
  width: 49%;
}
.transaction_details .Input_Text p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.transaction_details .Input_Text .main textarea {
  width: 100%;
  height: 200px;
}
.transaction_details .Input_Text .main .item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.transaction_details .Input_Text .main .item div {
  width: 50%;
}
.transaction_details .Input_Text .main .item select {
  width: 100%;
  padding: 10px;
  outline: none;
  font-family: Quicksand;
}
.transaction_details .Input_Text .main .item input {
  width: 100%;
  padding: 10px;
  outline: none;
  font-family: Quicksand;
}

.transaction_details .last_btn {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.transaction_details .last_btn button {
  width: 196px;
  height: 54px;
}
.transaction_details .last_btn .btn {
  background-color: transparent;
  color: #060388;
  border: 1px solid #060388;
}

/* Travel */
.travel_Container {
  margin-top: 2%;
  position: relative;
}

.travel_Container .main6-form-cont {
  padding: 20px;
  width: 626px;
  height: 433px;
  background: #00296b;
  border-radius: 12px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.travel_Container .main6-form-cont p {
  font-family: QuickSand;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.travel_Container .main6-form-cont select {
  width: 60%;
  padding: 10px;
  outline: none;
  font-family: QuickSand;
}
.travel_Container .main6-form-cont .two-sec {
  display: flex;
  gap: 10px;
}

.travel_Container .main6-form-cont .two-sec input {
  padding: 10px;
  outline: none;
  font-family: QuickSand;
}
.travel_Container .main6-form-cont .two-sec_container input {
  padding: 10px;
  outline: none;
  font-family: QuickSand;
}
.travel_Container .main6-form-cont .two-sec_container button {
  background: #2679a4;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #2679a4;
  font-family: QuickSand;
  margin: 0px 0px 0px 10px;
  height: 50px;
}
.travel_Container .main6-form-cont .latBtn {
  background: #ffd500;
  border-radius: 4px;
  font-family: QuickSand;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #333131;
  width: 275px;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffd500;
}

/* Exchanges Rate  */
.exch-cont {
  padding: 20px;
  position: relative;
  width: 100%;
}

.exch-cont .exch-left-cont {
  max-width: 900px;
  margin: auto;
}

.exch-cont .upper_two_sec {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.exch-cont .upper_two_sec h2 {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #00296b;
  margin: 0;
}
.exch-cont .upper_two_sec button {
  background: #ffd500;
  box-shadow: 0px 5px 7px rgba(5, 45, 65, 0.5);
  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  border: none;
  margin: 0;
  padding: 10px;
  font-family: QuickSand;
  cursor: pointer;
  position: absolute;
  right: 0px;
}

.btn-box {
  position: absolute;
  width: 100%;
  top: -20px;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.btn-box button {
  width: 19%;
  background: #fff;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #ffd500;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #333131;
}

.exch-title spam {
  color: #ffd500;
}

.outer-cont {
  margin-top: 5%;
  position: relative;
}

.input-row {
  display: flex;
  gap: 2px;
}

.top-box {
  height: 100%;
  width: 100%;
  background: #00296b;
  border-radius: 12px;
}

.input-row input {
  font-family: PoppinFont;
  outline: none;
  width: 25%;
}

.top-part-1 {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.top-left {
  padding: 10px;
}

.top-left small {
  color: #fff;
  font-size: 16px;
  font-family: PoppinFont;
  padding-top: 2px;
}

.top-right {
  width: 30%;
  text-align: right;
  color: white;
  padding-right: 20px;
}

.top-right p {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-decoration: underline;
  color: #ffffff;
}




.exch-mid-txt {
  padding-right: 10px;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  text-align: right;
  text-decoration: underline;
  color: #febd3f;
}



.exch-mid-cont {
  height: 44px;
  margin: 20px;
  width: 80%;
  background: #eccd8f;
  display: flex;
  justify-content: space-between;
}

.exch-mid-cont-l {
  width: 50%;
  padding: 10px;
}
.inside-comp {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}


.comp-1 p {
  color: #fff;
  padding: 2px;
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  background: #214360;
}
.comp-2 {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  align-items: center;
  color: #00296b;
}


.exch-mid-cont-r {
  margin: 2%;
}
.exch-mid-cont-r p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #333131;
}
.exch-mid-cont-r spam {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #333131;
} 