/* Footer */
.footer {
    background-color: #241D4B;
    color: #fff;
    padding: 50px 0;
}

.foot-row {
    display: flex;
    justify-content: space-evenly;
}

.foot-col {
    border: 1px solid black;
  }
  