/* Footer */
.footer {
    background-color: #241D4B;
    color: #fff;
    padding: 50px 0;
}

.foot-row {
    display: flex;
    justify-content: space-evenly;
}

.foot-col {
    width: 15%;
  }
  

  
.foot-col h3 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    color: #919191;
  }
  
  .foot-col p {
    margin-bottom: 10px;
    font-size: 12px;
  }