/**
 * Footer
 *
 * @format
 */

.footer {
  background-color: #241d4b;
  color: #fff;
  padding: 50px 0;
}

.foot-row {
  display: flex;
  justify-content: space-evenly;
}

.foot-col {
  width: 15%;
}

.foot-col h3 {
  font-family: PoppinFont;
  font-size: var(--medium-font);
  line-height: 19px;
  color: #919191;
}

.foot-col p {
    font-family: PoppinFont;
    font-size: var(--medium-font);
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.foot-col ul{
    list-style: ;
}