/**
 * Footer
 *
 * @format
 */

.footer {
  background-color: #241d4b;
  color: #fff;
  padding: 50px 0;
}

.footer .foot-row {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.footer .foot-row .foot-col {
  width: 15%;
}

.footer .foot-row .foot-col h3 {
  font-family: PoppinFont;
  font-size: var(--medium-font);
  line-height: 19px;
  color: #919191;
  margin-bottom: 20px;
}

.footer .foot-row .foot-col p {
  font-family: QuickSand;
  font-size: var(--extra-small-font);
  color: #ffffff;
  cursor: pointer;
}

.footer .footer_bottom_Cont{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 50px;
}

.footer .footer_bottom_Cont .Item_Div{
    width: 30%;
    border: 1px solid black;
}
.footer .footer_bottom_Cont .Item_Div .head{
    font-family: PoppinFont;
font-size: var(--medium-font);
line-height: 19px;
color: #919191;

}