.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .Header .left a{
    font-family: InterFont;
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
  }
  
  .navbar-1 .nav-top .nav-right {
    display: flex;
    gap: 20px;
  }
  .navbar-1 .nav-top .nav-right .btn1 {
    font-weight: 500;
    font-size: var(--medium-font);
    color: var(--black);  
    background-color: transparent;
    border: none;
  }
  .navbar-1 .nav-top .nav-right .btn2 {
      font-size: var(--medium-font);
    color: var(--white);  
    background-color: var(--blue);
    border: 1px solid var(--blue);
    padding: 10px;
    width: 200px;
    border-radius:  var(--half-border);
  }
  
  
  