/** @format */

.Sticky-Header-Companent {
  height: 100%;
  background-color: var(--white);
  position: sticky !important;
  top: 0;
  z-index: 999;
  padding: 20px;
  transition: box-shadow 0.3s ease;
}

.scrolled {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .left-component a {
  font-family: InterFont;
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}
.Header .left-component img {
  width: 120px;
}

.Header .right-component {
  display: flex;
  gap: 20px;
  align-items: center;
}
.Header .right-component .btn1 {
  font-weight: 500;
  font-size: var(--medium-font);
  color: var(--black);
  background-color: transparent;
  border: none;
}
.Header .right-component .btn2 {
  font-size: var(--medium-font);
  color: var(--white);
  background-color: #00296b;
  border: 1px solid #00296b;
  padding: 10px;
  width: 200px;
  border-radius: var(--half-border);
}
.Header .right-component .fa-user {
  font-size: 25px;
  cursor: pointer;
}
/* Category Drop- Down */
.Drop-Category-Bar {
  display: flex;
  align-items: center;
}
.Drop-Category-Bar .left-container {
  width: 20%;
  padding: 20px;
}

.Drop-Category-Bar .right-Container {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.Drop-Category-Bar .left-container i {
  font-size: var(--medium-font);
  cursor: pointer;
}
.Drop-Category-Bar .right-Container #dropdown-basic {
  border: none;
  font-size: var(--medium-font);
  font-style: normal;
  line-height: 29px;
  color: #333131;
  font-family: InterFont;
}
.Drop-Category-Bar .right-Container #dropdown-button-drop-end {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-size: var(--small-font);
  border: none;
}
.Drop-Category-Bar .right-Container .dropdown-item {
  width: 100%;
  font-size: var(--small-font);
  border: none;
  padding-left: 12px;
}
.Profile_Options {
  font-size: var(--medium-font);
  font-family: PoppinFont;
}
.Profile_Name {
  font-size: 22px !important;
  font-weight: 600 !important;
  font-family: QuickSand !important ;
}
.Profile_Options {
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: QuickSand !important ;
}
.Profile_Options_LogOut{
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: QuickSand !important ;
  border-top: 1px solid #ccc;
}

/* FullScreen Offcanvas */
.offcanvas.offcanvas-start {
  /* width: 100% !important;
  background-color: transparent; */
  background-color: transparent;
}
.offcanvas-backdrop.show {
  opacity: 0.9 !important;
}
.Offcanvas-Menu {
  position: relative;
  padding: 20px;
}
.Offcanvas-Menu .fa-x {
  font-size: var(--medium-font);
  color: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.Offcanvas-Menu .Menu-Items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  gap: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.Offcanvas-Menu .Menu-Items div {
  width: 100%;
  cursor: pointer;
}
.Offcanvas-Menu .Menu-Items div img {
  display: block;
  margin: auto;
}
.Offcanvas-Menu .Menu-Items div a {
  text-decoration: none;
}
.Offcanvas-Menu .Menu-Items p {
  font-size: var(--medium-font);
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  font-family: OpenFont;
  text-decoration: none;
  width: 100%;
}

.Drop-Category-Bar .right-Container .Expolre_Btn {
  font-size: var(--medium-font);
  color: var(--white);
  background-color: #00296b;
  border: 1px solid #00296b;
  padding: 10px;
  width: 200px;
  border-radius: var(--half-border);
  display: none;
}

.Offcanvas-Menu .Drop {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  position: absolute;
  top: 50%;
  gap: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
