.Sticky-Header-Companent{
    height: 100px;
    background-color: var(--white);
    position: sticky;
    top: 0;
}

.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}


  .Header .left-component a{
    font-family: InterFont;
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
  }
  
  .Header .right-component {
    display: flex;
    gap: 20px;
  }
  .Header .right-component .btn1 {
    font-weight: 500;
    font-size: var(--medium-font);
    color: var(--black);  
    background-color: transparent;
    border: none;
  }
  .Header .right-component   .btn2 {
      font-size: var(--medium-font);
    color: var(--white);  
    background-color: var(--blue);
    border: 1px solid var(--blue);
    padding: 10px;
    width: 200px;
    border-radius:  var(--half-border);
  }
  
  
  