/**
 * Two Section Component
 *
 * @format
 */

.upper-two-component {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.upper-two-component .left-component {
  width: 40%;
}
.upper-two-component .right-component {
  width: 50%;
}

/* Currency Container */
.Index-currency_cont {
  width: 98%;
  margin: auto;
  padding: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 5%;
}

/* Rate Button */
.Index_center_button {
  width: 250px;
  background: #ffd500;
  border-radius: 27px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}
.Index_center_button i {
  margin: 0;
}
.Index_center_button p {
  margin: 0;
  font-family: PoppinFont;
  font-size: var(--extra-small-font);
}

/* Index_center_Div */
.Index_center_Div {
  width: 300px;
  display: block;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  margin-top: 20px;
}
.Index_center_Div .logo {
  width: 140px;
  display: block;
  margin: auto;
}
.Index_center_Div p {
  color: #000;
  font-family: PoppinFont;
  text-align: center;
  font-size: var(--extra-small-font);
  margin-top: 10px;
}
.Index_center_Div hr {
  border: 3px solid #0b9be3;
  border-radius: 8px;
}

/* Index_First_Motion */
.Index_First_Motion {
  padding: 20px;
}
/* Index_Second_Motion */
.Index_Second_Motion {
  padding: 20px;
  background-color: #f4f4f4;
}

/* Index_testimonial */
.Index_testimonial .Head {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 25px;
  color: #214360;
  text-align: center;
  padding: 20px;
}

/* --------------- */
.Index_News_testimonial {
  background-color: #f4f4f4;
  width: 99.6%;
  margin: auto;
}
.Index_News_testimonial .Head {
  font-family: PoppinFont;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 25px;
  color: #214360;
  text-align: center;
  padding: 20px;
}

/* Fixed_Contact_Img */
.Fixed_Contact_Img {
  position: fixed;
  z-index: 12;
  top: 90%;
  cursor: pointer;
  left: 97%;
  transform: translate(-50%, -50%);
}


.continer_Div{
  display: flex;
  flex-direction: column;
}
.continer_Div .footer_Div{
  
}