/**
 * Two Section Component
 *
 * @format
 */

.upper-two-component {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.upper-two-component .left-component {
  width: 40%;
}
.upper-two-component .right-component {
  width: 50%;
}

/* Currency Container */
.Index-currency_cont {
  width: 98%;
  margin: auto;
  padding: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 5%;
}

/* Rate Button */
.Index_center_button {
  width: 250px;
  background: #ffd500;
  border-radius: 27px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}
.Index_center_button i {
  margin: 0;
}
.Index_center_button p {
  margin: 0;
  font-family: PoppinFont;
  font-size: var(--extra-small-font);
}

/* Index_center_Div */
.Index_center_Div {
  width: 300px;
  display: block;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}
.Index_center_Div .logo {
  background-color: #d9d9d9;
  color: #000;
  font-family: PoppinFont;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
