/* Two Section Component */
.upper-two-component {
    display: flex;
}
.upper-two-component .left-component{
    width: 40%;
    border: 1px solid black;
}
.upper-two-component .right-component{
    width: 50%;
}