/* Two Section Component */
.upper-two-component {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.upper-two-component .left-component{
    width: 40%;
}
.upper-two-component .right-component{
    width: 50%;
}

/* Currency Container */
.Index-currency_cont{
    width: 100%;
    padding: 20px;
}