/* Two Section Component */
.upper-two-component {
    display: flex;
    justify-content: space-evenly;
    padding-top: ;
}
.upper-two-component .left-component{
    width: 40%;
}
.upper-two-component .right-component{
    width: 50%;
}