@media screen and (min-width: 780px) and (max-width: 1500px) {
    .MainNav {
      max-width: 1000px;
    }
    .ImageCarousel {
      max-width: 1000px;
    }
    .two-sec {
      max-width: 1000px;
    }
    .two-sec .right h1 {
      font-size: 1.8rem;
    }
    .two-sec .right p {
      font-size: 20px;
    }
    .two-sec .right button {
      font-size: 26px;
    }
    .pro {
      max-width: 1000px;
    }
    .pro h1 {
      font-size: 1.8rem;
    }
    .pro button {
      font-size: 26px;
    }
    .NewProductS {
      max-width: 1000px;
    }
    .NewProductS .item .imgeOuter {
      height: 250px;
    }
    .myNewSec {
      max-width: 1000px;
    }
    .myNewOldSec {
      max-width: 1000px;
    }
    .myNewOldSec .left img {
      width: 100%;
      height: 100%;
    }
    .myNewOldSec .right .group .dives .imageDiv {
      height: 220px;
    }
    .many {
      max-width: 1000px;
    }
    .forRes {
      font-size: 1.8rem;
    }
    .many div {
      width: 120px;
      height: 120px;
    }
    .BanImage {
      max-width: 1000px;
    }
    .human {
      max-width: 1000px;
    }
    .footer .all {
      max-width: 1000px;
    }
    .myHr {
      max-width: 1000px !important;
    }
    .child {
      max-width: 1000px !important;
    }
    .Gamers {
      max-width: 1000px !important;
    }
    #FileBtn {
      bottom: 160px;
    }
    .two-sec-form {
      max-width: 1000px !important;
    }
    .two-sec-form .right img {
      height: 100% !important;
    }
  
    .BMIbutton {
      margin-bottom: 20px;
    }
    .BMI {
      margin-left: 10%;
    }
    .gym-B {
      max-width: 1000px !important;
    }
    .gym-B .left {
      width: 42%;
      padding-bottom: 20px;
    }
    .gym-B .left img {
      display: none;
    }
    .men-b {
      max-width: 1000px !important;
    }
    .MyOrderHead {
      max-width: 1000px !important;
    }
    .StatusRefund {
      max-width: 1000px !important;
    }
    .StatusRefundBox {
      max-width: 1000px !important;
    }
    .MyOrderPlaced {
      max-width: 1000px !important;
    }
    .OrderSum {
      max-width: 1000px;
    }
    .OrderSumSection {
      max-width: 1000px;
    }
    .OrderSumInvoice {
      max-width: 1000px;
    }
    .return {
      max-width: 1000px;
    }
    .MyOrderTwoSec {
      max-width: 1000px;
    }
    .MyOrderTwoSec .left img {
      height: 70%;
    }
    .ReturnCom {
      max-width: 1000px;
    }
    .shopping {
      max-width: 1000px;
    }
    .shoppingAddress {
      max-width: 1000px;
    }
    .shoppingTwoSec {
      max-width: 1000px;
    }
    .StatusRefundTwoSec {
      max-width: 1000px;
    }
    .your-add-threeSec {
      max-width: 1000px;
    }
    .your-add {
      max-width: 1000px;
    }
    .profileEdit {
      max-width: 1000px;
    }
    .customerSer {
      max-width: 1000px;
    }
    .customerSerHead {
      max-width: 1000px;
    }
    .nav-Images {
      max-width: 500px;
    }
    .FAQ {
      max-width: 1000px;
    }
    .FAQInput {
      max-width: 1000px;
    }
    .FAQtwosec {
      max-width: 1000px;
    }
    .facial {
      max-width: 1000px;
    }
    .facialH1 {
      max-width: 1000px;
    }
    .facialAdd {
      max-width: 1000px;
    }
    .facialDesc {
      max-width: 1000px;
    }
    .facialTwosec {
      max-width: 1000px;
    }
    .facialTwosec .left {
      width: 50%;
    }
    .facialCon {
      max-width: 1000px;
    }
    .facialThreeSec {
      max-width: 1000px;
    }
    .facialThreeImg {
      max-width: 1000px;
    }
    .facialThreeImg div {
      width: 300px;
    }
  
    .returnRefundPdiv {
      max-width: 1000px;
    }
    .returnRefundPdiv2 {
      max-width: 1000px;
    }
    .ReturnRefund {
      max-width: 1000px;
    }
  
    .SingleP {
      max-width: 1000px;
    }
  
    .amazon {
      max-width: 1000px;
    }
  
    .Tog {
      max-width: 1000px;
    }
  
    .Syrup {
      max-width: 1000px;
    }
  
    .Syrup .ImagesS {
      width: 300px;
      height: 300px;
    }
  
    .plus {
      padding-top: 60px;
    }
  
    .technI {
      max-width: 1000px;
    }
    .TB {
      max-width: 1000px;
    }
    .ProductReviews {
      max-width: 1000px;
    }
    .shoppingH2 {
      max-width: 1000px;
    }
    .shoppingTrackBtn {
      max-width: 1000px;
    }
  
    .OrderSummary {
      max-width: 1000px;
    }
    .secondSummm {
      display: block;
    }
    .secondSummm .left {
      width: 100%;
    }
  
    .secondSummm .right {
      width: 100%;
      margin-left: 0;
    }
  
    .specialLastBtn{
      margin-left: 15% !important;
    }
  }
  
  @media screen and (min-width: 600px) and (max-width: 980px) {}
  