/** @format */

.Drop-Category-Bar .right-Container .Expolre_Btn {
    font-size: var(--medium-font);
    color: var(--white);
    background-color : #00296B;
    border: 1px solid #00296B;
    padding: 10px;
    width: 200px;
    border-radius: var(--half-border);
}

.Offcanvas-Menu .Drop{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    position: absolute;
    top: 50%;
    gap: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}


@media screen and (min-width: 600px) and (max-width: 980px) {
  .Drop-Category-Bar {
    justify-content: space-between;
  }
  .Drop-Category-Bar .right-Container {
    width: 200px;
  }
  .Drop-Category-Bar .right-Container #dropdown-basic {
    display: none;
  }
  .Offcanvas-Menu .Menu-Items {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .Offcanvas-Menu .Menu-Items div {
    width: 100%;
  }
  #dropdown-basic {
    border: none;
    font-size: var(--medium-font);
    font-style: normal;
    line-height: 29px;
    color: #fff;
    font-family:InterFont ;
  }
  .upper-two-component{
    display: block;
  }
  .upper-two-component .left-component{
    width: 90%;
    display: block;
    margin: auto;
  }
  .upper-two-component .right-component{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .Index_First_Motion_Fade .Main_Container .right_cont h6{
    font-size: 30px;
    line-height: normal;
    text-align: center;
    margin-top: 30%;
  }
  .Index_First_Motion_Fade .Main_Container .right_cont p {
    font-size: 20px;
    line-height: normal;
    text-align: center;
  }
  .Index_First_Motion_Fade .Main_Container .right_cont div {
    display: block;
    margin-top: 0;
  }
  .Index_First_Motion_Fade .Main_Container .right_cont div  button{
    display: block;
    width: 100%;
    margin-top: 5px;
  }

  
  /* ------------------------ */
.Index_Second_Motion_Fade .Main_Container .right_cont h6 {
    font-size: 30px;
    line-height: normal;
    text-align: center;
    margin-top: 30%; 
}
.Index_Second_Motion_Fade .Main_Container .right_cont p {
    font-size: 20px;
    line-height: normal;
    text-align: center;
}
.Index_Second_Motion_Fade .Main_Container .right_cont div {
    display: block;
    margin-top: 0;
}

.Index_Second_Motion_Fade .Main_Container .right_cont div button{
    display: block;
    width: 100%;
    margin-top: 5px;
}
/* ---------------------------- */
.bot-part-1{
    padding: 8% 10%;
    height: 300px;
}

}
@media screen and (min-width: 300px) and (max-width: 620px) {
  body {
    display: none;
  }
}
